.cart-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart {
    font-family: inherit;
    align-items: center;
    background-color: var(--clr-primary-2);
    padding: 3rem;
    width: 80vw;
    margin: 20px auto;
    max-width: 50rem;
}

.cart-total {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.cart-footer {
    text-align: center;
    margin-top: 1rem;
}

.router-btn {
    background: transparent;
    border: 1px solid var(--clr-app-red);
    color: var(--clr-app-red);
    padding: 10px;
    letter-spacing: var(--spacing);
    font-weight: bold;
}

.router-btn:hover {
    background: var(--clr-red-light);
    color: #fff;
}

.router-menu {
    align-items: center;
}

.cart-btn-container {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
    padding: 20px;
}