@media screen and (min-width: 802px) {
    .card {
        display: grid;
        grid-template-columns: 220px 1fr;
        gap: 2rem;
        justify-content: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        height: 180px;
    }
    .menu-img {
        width: 100%;
        height: 180px;
        border: .25rem solid #f54748;
        border-radius: var(--radius);
        object-fit: cover;
        display: block;
    }
}

.menu-desc {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.menu-desc p {
    font-size: .91rem;
    letter-spacing: var(--spacing);
}

.menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #f54748;
    padding: 5px;
}

.menu-title h4 {
    letter-spacing: 2px;
    margin: 0;
}

.add-cart {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 1px solid rgb(61, 60, 60);
    border-radius: 3px;
    width: 95px;
}

.ruppee::before {
    content: '₹ ';
    font-family: sans-serif;
}

.cart-qty {
    border-left: 1px solid rgba(86, 86, 86, .5);
    border-right: 1px solid rgba(86, 86, 86, .5);
    padding: .2rem .8rem;
    display: flex;
    justify-content: center;
    height: 25px;
    width: 40px;
}

.addDec-img {
    width: 25px;
    height: 15px;
}

.price-cart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.price::before {
    content: '₹ ';
    font-family: sans-serif;
}