.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1180px;
    padding: 4rem 0;
    font-family: inherit;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.underline {
    background-color: #f54748;
    width: 120px;
    height: 5px;
    margin: 0 auto;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 2rem;
}

.btn-container {
    padding: 10px;
    margin: 0 auto 2rem auto;
    display: flex;
    justify-content: center;
}